@model List<Education>

<!-- Resume Section -->
<section id="resume" class="resume section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Resume</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row">

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">            
                <h3 class="resume-title">Eğitim</h3>
                @foreach (var item in Model)
                {
                    <div class="resume-item">
                        <h4>@item.SchoolName</h4>
                        <h5>@item.StartDate.Year - @item.EndDate.Year</h5>
                        <p><em>@item.Degree</em></p>
                        <p>@item.Text</p>
                    </div>

                    <!-- Edn Resume Item -->
                }




            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <h3 class="resume-title">İş Deneyimi</h3>
                @foreach(Experience item in (List<Experience>)ViewBag.Experinces)
                {
                    <div class="resume-item">
                        <h4>@item.Title</h4>
                        <h5>@item.StartDate.Year - @(item.EndDate==null ? "Devam Ediyor" : item.EndDate.Value.Year)</h5>
                        <p><em>@item.CompanyName </em></p>
                        <p>@item.Text</p>
                    </div>
                
                    <!-- Edn Resume Item -->
                }
           

               

            </div>

        </div>

    </div>

</section><!-- /Resume Section -->